*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #EDEFEE;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: white;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/*Media queries*/
@media (max-width: 768px) {
  .hero {
    padding: 2rem 1rem;
  }

  .special-items {
    flex-direction: column;
  }

  .special-item {
    flex-basis: 100%;
    margin: 1rem 0;
  }

  .testimonials-items {
    flex-direction: column;
  }

  .testimonial-item {
    flex-basis: 100%;
    margin: 1rem 0;
  }
}
